{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Дошка оголошень{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ads/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'main:home' %}">Дошка оголошень</a></h1>
        <nav>
            <a href="{% url 'ads:ad_create' %}">+ Створити оголошення</a>
            <a href="{% url 'ads:ad_list' %}">Перейти до оголошень</a>
            {% if user.is_authenticated %}
                <!-- Користувач авторизований -->
                <a href="{% url 'users:profile' %}">Мій профіль</a>
                <form action="{% url 'users:logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Вийти</button>
                </form>
            {% else %}
                <!-- Користувач не авторизований -->
                <a href="{% url 'users:login' %}">Увійти</a>
                <a href="{% url 'users:register' %}">Зареєструватися</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
