<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="homepage">
  <h1>Ласкаво просимо на наш сайт оголошень!</h1>
  <p>На цьому сайті ви можете:</p>
  <ul>
    <li>🔐 Увійти або зареєструватися (у тому числі через Google)</li>
    <li>🔍 Переглядати актуальні оголошення</li>
    <li>➕ Створювати власні оголошення</li>
    <li>📂 Вибирати категорії та підкатегорії</li>
    <li>📝 Редагувати або видаляти свої оголошення</li>
  </ul>

  <p><a href="{% url 'ads:ad_list' %}" class="btn-main">Перейти до оголошень</a></p>
</div>
{% endblock %}
